.resume {
  width: 100%;
  min-height: 100vh;
color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 8%;

  background: #0f172a;
}

.resume-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-image {
  width: 420px;
  max-width: 100%;
  height: auto;

  border-radius: 12px;

  border: 3px solid #00c2a8;

  

  transition: all 0.3s ease;
}

.resume-image:hover {
  transform: scale(1.03);

  box-shadow: 0 0 40px rgba(0, 194, 168, 0.5);
}

/* Responsive */

@media (max-width: 768px) {
  .resume-image {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .resume-image {
    width: 240px;
  }
}


.download-btn {
  display: inline-block;
  padding: 15px 35px;

  background: #00c2a8;
  color: white;

  font-size: 18px;
  font-weight: 600;

  text-decoration: none;

  border-radius: 10px;
  border: none;

  cursor: pointer;

  transition: all 0.3s ease;
 
}

.download-btn:hover {
  background: #009b86;

  transform: translateY(-4px);

  box-shadow: 0 10px 25px rgba(0, 194, 168, 0.35);
}

.download-btn:active {
  transform: scale(0.98);
}

.resume-right{
    margin-left: 100px;
}